<head>
  {{- $description := .Site.Params.description -}}
  {{- with .Params.summary }}{{ $description = . }}{{ else }}{{ with .Description }}{{ $description = . }}{{ end }}{{ end -}}
  {{- $image := printf "%sassets/static/images/tasgamemakers-socialcard.png" .Site.BaseURL -}}
  {{- with .Params.image }}{{ $image = printf "%sassets/media/images/%s" $.Site.BaseURL . }}{{ end -}}

  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="description" content="{{ $description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Open Graph -->
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ $description }}" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ $image }}" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ $description }}" />
  <meta name="twitter:image" content="{{ $image }}" />

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/static/images/TasGM_Logo_32x32.4887edce5135.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/static/images/favicon-16x16.23d3df4cbebd.png">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="/assets/static/css/2026.css?v={{ now.Unix }}">

  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>

  <!-- Inline font-face for Be Bold -->
  <style>
    @font-face {
      font-family: "be_boldregular";
      src: url("/assets/static/fonts/be-bold-webfont.67898cff2313.woff2") format("woff2"),
           url("/assets/static/fonts/be-bold-webfont.cd25dde27e53.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
  </style>
</head>
