.card {
  display: flex;
  flex-flow: column nowrap;
  width: calc(100% - 10px);
  height: auto;
  margin: 30px auto var(--padding-md) 0;
  position: relative;
}

.card--image {
  width: auto;
  max-height: 200px;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.card--image img {
  width: auto;
  height: 100%;
  max-height: 400px;
}

@-moz-document url-prefix() {
  .card--image__large img {
    min-height: 100%;
    position: absolute;
  }
}

.card--image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: screen;
}

.card--desc {
  max-width: 100%;
  height: auto;
  padding: calc(var(--padding-sm) * 2) var(--padding-sm) var(--padding-sm)
    var(--padding-sm);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: relative;
}
.card--desc-heading {
  font-family: var(--accent-font);
  font-size: var(--h3);
  margin-bottom: 10px;
  width: inherit;
}
.card--desc-subtitle {
  margin-bottom: calc(var(--spacer) / 2);
  font-size: 14px;
}
.card--desc-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
  position: relative;
  display: inline-block;
  width: auto;
  align-self: flex-end;
  padding-right: 10px;
  transition: all 0.2s ease;
}
.card--desc-link::after {
  content: ">";
  position: absolute;
  margin-left: 5px;
}
.card--desc-link:hover,
.card--desc-link:focus {
  cursor: pointer;
  color: var(--blue);
  transition: all 0.2s ease;
  text-decoration: underline;
}
.card__purple::before,
.card__pink::before,
.card__yellow::before {
  content: "";
  position: absolute;
  z-index: 2;
}
.card__purple {
  background-color: var(--purple);
  -webkit-box-shadow: 8px 8px 0px 0px rgba(47, 39, 76, 1);
  -moz-box-shadow: 8px 8px 0px 0px rgba(47, 39, 76, 1);
  box-shadow: 8px 8px 0px 0px rgba(47, 39, 76, 1);
}
.card__purple::before {
  width: 80px;
  height: 80px;
  right: -10px;
  top: -20px;
  background: url("../images/category-controller.66067ced9706.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.card__purple > .card--image:before {
  background-color: var(--purple-dark);
}
.card__pink {
  background-color: var(--pink);
  -webkit-box-shadow: 8px 8px 0px 0px rgba(207, 75, 149, 1);
  -moz-box-shadow: 8px 8px 0px 0px rgba(207, 75, 149, 1);
  box-shadow: 8px 8px 0px 0px rgba(207, 75, 149, 1);
}
.card__pink::before {
  width: 90px;
  height: 90px;
  right: -10px;
  top: -20px;
  background: url("../images/category-tools.b5e92d434883.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.card__pink > .card--image:before {
  background-color: var(--pink-dark);
  opacity: 0.6;
}
.card__yellow {
  background-color: var(--yellow-dark);
  -webkit-box-shadow: 8px 8px 0px 0px rgba(249, 171, 96, 1);
  -moz-box-shadow: 8px 8px 0px 0px rgba(249, 171, 96, 1);
  box-shadow: 8px 8px 0px 0px rgba(249, 171, 96, 1);
}
.card__yellow::before {
  width: 90px;
  height: 90px;
  right: -10px;
  top: -20px;
  background: url("../images/category-books.577dd7ce03ba.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.card__yellow > .card--image:before {
  background-color: var(--yellow-dark);
  opacity: 0.5;
}

@media only screen and (min-width: 764px) {
  .card {
    max-width: 500px;
  }
  .card__large {
    flex-flow: row nowrap;
    max-width: 100%;
    width: calc(100% - 10px);
  }
  .card--image__large {
    min-width: 60%;
    width: auto;
    height: 100%;
    min-height: 300px;
    max-height: 350px;
  }
  .card__large > .card--desc {
    padding: var(--padding-lg) var(--padding-md) var(--padding-sm)
      var(--padding-md);
  }
}

@media only screen and (min-width: 1024px) {
}
