.join {
  display: grid;
  padding-bottom: var(--padding-lg);
  max-width: 500px;
}

.join--left {
}

.join--right {
}

.join--title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--padding-sm);
}
.join--logo {
  max-width: 30px;
  height: auto;
  margin-right: calc(var(--padding-sm) / 2);
}
.join--heading {
  font-family: var(--accent-font);
  font-weight: var(--h3);
  margin: 0;
}
.join--cta {
  margin-top: var(--padding-sm);
}
.join--discord {
  margin-top: var(--padding-md);
}

@media only screen and (min-width: 764px) {
  .join {
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--padding-md);
    max-width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
}
