@import url("banner.8ed7886ee006.css");
@import url("button.48da53f2e63d.css");
@import url("call-to-action.620027be5371.css");
@import url("card.2aa56222a5bb.css");
@import url("error-message.1acb86cb8ee1.css");
@import url("events.daca36034609.css");
@import url("fold.abe037f357af.css");
@import url("footer.2aa880ec9d7e.css");
@import url("header.eef33fcacb3b.css");
@import url("home.aa5706ed82e2.css");
@import url("image-with-caption.a23b0d483707.css");
@import url("info-pair.05205e497c2c.css");
@import url("join.f964f67d8c41.css");
@import url("main-content.c9b92c3c1d22.css");
@import url("profile.9ffad65f880b.css");
@import url("rich-text.f8e42148abb3.css");
@import url("secondary-page.2c00719a1af1.css");
@import url("signup.45e0e063819a.css");
@import url("variables.70410adc8b48.css");
@import url("video-embed.72df5c9f7218.css");

body {
  font-family: var(--main-font);
  background-color: var(--blue);
  color: var(--white);
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

body.menu-open {
  max-height: 100vh;
  overflow-y: hidden;
}

.main {
  opacity: 0;
}
.main__show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.main__dark {
  background-color: var(--blue-dark);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
}
h1 {
  font-size: var(--h1);
  font-family: var(--accent-font);
  line-height: 0.8;
  word-spacing: 100vw;
}
h2 {
  font-size: var(--h2);
  font-family: var(--accent-font);
}
h3 {
  font-size: var(--h3);
  margin-bottom: var(--padding-sm);
  font-weight: 200;
}
h4 {
  font-size: var(--h4);
  margin-bottom: 10px;
}
h5 {
  font-size: var(--body);
  margin-bottom: 10px;
}
p {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
}
.richtext > :not(:first-of-type) {
  margin-top: var(--padding-very-sm);
}

ul {
  /* margin-top: 0; */
  list-style-type: none;
  line-height: 1.5;
  padding-left: 0;
}

.spacer {
  height: var(--spacer);
}
.spacer--small {
  height: calc(var(--spacer) / 2);
}
.spacer--tiny {
  height: calc(var(--spacer) / 4);
}

.mobile-only {
  display: block;
}
.desktop-only {
  display: none;
}

@media only screen and (min-width: 764px) {
  body {
    /* padding: 0 var(--padding-md); */
    overflow-x: hidden;
    max-width: 100vw;
  }
  .spacer {
    height: var(--spacer-lg);
  }
  .spacer--small {
    height: var(--spacer);
  }
  .spacer--tiny {
    height: calc(var(--spacer) / 2);
  }
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    /* padding: 0 var(--padding-lg); */
  }
}
