<head>
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <link rel="stylesheet" type="text/css" href="/assets/static/css/mysite.a5a240d3b790.css">
  <link rel="stylesheet" type="text/css" href="/assets/static/css/features.css">

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/static/images/TasGM_Logo_32x32.4887edce5135.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/static/images/favicon-16x16.23d3df4cbebd.png">
  <link href="https://fonts.googleapis.com/css?family=Poppins:500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

  <script src="https://js.stripe.com/v3/"></script>


</head>
