<div class="partner-card card card__yellow">
  <div class="card--desc">
    <div>
      <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">
        <img class="partner-card--logo" src="/assets/static/images/{{ .logo }}" alt="{{ .name }}">
      </a>
      <h3 class="card--desc-heading">{{ .name }}</h3>
      <p class="card--desc-subtitle">{{ .description }}</p>
    </div>
    <a class="card--desc-link" href="{{ .url }}" target="_blank" rel="noopener noreferrer">Visit site</a>
  </div>
</div>
