.button-holder {
  position: relative;
  height: 40px;
  min-width: 120px;
}
.button {
  padding: 10px 20px;
  color: var(--black);
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--white);
  display: inline-block;
  position: absolute;
  font-family: var(--main-font) !important;
  border: none;
}
.button:hover,
.button:focus {
  margin: 2px -2px 2px 2px;
  outline: none;
}

.button__purple {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(105, 74, 155, 1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(105, 74, 155, 1);
  box-shadow: 5px 5px 0px 0px rgba(105, 74, 155, 1);
}
.button__purple:hover,
.button__purple:focus {
  -webkit-box-shadow: 2px 2px 0px 0px rgba(105, 74, 155, 1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(105, 74, 155, 1);
  box-shadow: 2px 2px 0px 0px rgba(105, 74, 155, 1);
}
.button__pink {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(207, 75, 149, 1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(207, 75, 149, 1);
  box-shadow: 5px 5px 0px 0px rgba(207, 75, 149, 1);
}
.button__pink:hover,
.button__pink:focus {
  -webkit-box-shadow: 2px 2px 0px 0px rgba(207, 75, 149, 1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(207, 75, 149, 1);
  box-shadow: 2px 2px 0px 0px rgba(207, 75, 149, 1);
}
.button__yellow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(249, 171, 96, 1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(249, 171, 96, 1);
  box-shadow: 5px 5px 0px 0px rgba(249, 171, 96, 1);
}
.button__yellow:hover,
.button__yellow:focus {
  -webkit-box-shadow: 2px 2px 0px 0px rgba(249, 171, 96, 1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(249, 171, 96, 1);
  box-shadow: 2px 2px 0px 0px rgba(249, 171, 96, 1);
}

@media only screen and (min-width: 764px) {
}

@media only screen and (min-width: 1024px) {
}
