.fold {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background-image: url("../images/fold-mobile.5773e02ed45b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.fold--text {
  position: absolute;
  max-width: calc(100vw - var(--padding-md));
  overflow: hidden;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 0 var(--padding-sm) calc(var(--padding-lg) * 1.5) var(--padding-sm);
  padding-bottom: var(--padding-sm);
}

.fold--text-heading {
  line-height: 0.7;
  font-size: 18vw;
  word-spacing: normal;
}

.fold--text-subtitle {
  margin: 20px 10px 0 20px;
  text-transform: uppercase;
  font-family: var(--main-font);
  color: var(--black);
  letter-spacing: 0.9;
  line-height: 1.5;
}
.fold--text-subtitle span {
  background: white;
  padding: 10px 0;
  box-shadow: 20px 0 0 #fff, -20px 0 0 #fff;
}
.fold--cta {
  margin-top: var(--padding-md);
  width: 100%;
}

@media only screen and (max-width: 350px) {
  .fold--text-heading {
  }
  .fold--text-subtitle {
    font-size: 14px;
    line-height: 2;
  }
}

@media only screen and (min-width: 764px) {
  .fold {
    background-image: url("../images/fold-tablet.4e957500723b.jpg");
  }
  .fold--text {
    margin: 0 var(--padding-md) calc(var(--padding-lg) * 1.5) var(--padding-md);
  }
  .fold--text-heading {
    font-size: 16vw;
  }
  .fold--text-subtitle {
    font-size: var(--h4);
  }
}

@media only screen and (min-width: 1024px) {
  .fold {
    background-image: url("../images/fold-desktop.64d2de6fa0ae.jpg");
  }
  .fold--text {
    top: 0;
    margin: calc(var(--padding-lg) * 4) var(--padding-lg) 0
      calc(var(--padding-lg) * 1.5);
  }
  .fold--text-heading {
    font-size: 12vw;
  }
  .fold--text-subtitle {
    font-size: var(--h4);
  }
}
