.profile {
  padding: var(--padding-sm);
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column-reverse;
  margin: 10px 10px 0 10px;
}
.profile:not(:first-of-type) {
  margin-top: var(--padding-md);
}
.profile:first-child,
.profile:last-child {
  margin: var(--padding-md) 0;
}
.profile__dark-purple {
  background-color: var(--purple-dark);
}
.profile__purple {
  background-color: var(--purple);
}
.profile__dark-pink {
  background-color: var(--pink-dark);
}

.profile--position {
  font-size: 14px;
  text-transform: capitalize;
}
.profile--name {
  font-size: var(--h3);
  margin-bottom: 0;
  font-family: var(--accent-font);
}
.profile--twitter {
  min-width: 100%;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  color: var(--white);
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  align-items: center;
  font-size: var(--body-mob-sm);
}
.profile--twitter img {
  min-width: 20px;
  width: 20px;
  margin-right: 10px;
}
.profile--twitter span {
  min-width: 100%;
  text-align: left;
}
.profile--twitter:hover,
.profile--twitter:focus {
  cursor: pointer;
  text-decoration: underline;
}

.profile--description {
  margin-top: var(--padding-sm);
}
.profile--description .rich-text p {
  font-size: var(--body-mob-sm);
  margin-bottom: 0;
}

.profile--image {
  margin: -30px 0 20px -30px;
}
.profile--image img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 764px) {
  .profile {
    flex-flow: row nowrap;
    flex-direction: row-reverse;
    padding: calc(var(--padding-sm) * 1.5);
    margin: 0;
  }
  .profile:nth-child(odd) {
    flex-direction: row;
  }

  .profile--description {
    height: auto;
  }

  .profile--image {
    margin: -50px -50px -20px 20px;
    min-width: 35%;
  }
  .profile:nth-child(even) .profile--image {
    margin: -50px 20px -20px -50px;
  }
}

@media only screen and (min-width: 1020px) {
  .profile {
  }
}
